@import "mocha.css";

* {
    font-family: UbuntuMono Nerd Font;
    font-size: 15px;
    min-height: 0;
}

#waybar {
    /* background: transparent; */
    /* color: @text; */
    /* margin: 5px 5px; */
    background-color: shade(@base, 0.9);
    border: 2px solid alpha(@crust, 0.3);
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
    border: 1px solid @mauve;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @red;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#window,
/* #custom-chrome, */
/* #custom-music, */
#tray,
#custom-updates,
#custom-weather,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,

#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
}

#network {
    color: @red;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1px solid @red;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
    border-radius: 1rem;
    border: 1px solid @blue;
}

#language {
    color: @blue;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1px solid @blue;
}

#battery {
    color: @green;
    border: 1px solid @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
    border: 1px solid @yellow;
}

#backlight, #battery {
    border-radius: 1rem;
}

#pulseaudio {
    color: @yellow;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1px solid @yellow;
}

#pulseaudio:hover {
    border-radius: 1rem;
    border: 1px solid @red;
}

#custom-music {
    color: @yellow;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1px solid @yellow;
}

#custom-lock {
    color: @yellow;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1px solid @yellow;
}

#custom-power {
    color: @red;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border: 1px solid @red;
}

/* #custom-chrome { */
/*   color: @mauve; */
/*   border-radius: 1rem; */
/* } */

#tray {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
    border: 1px solid @maroon;
}

#custom-weather {
    color: @blue;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    color: @blue;
    border: 1px solid @blue;
}

#custom-updates {
    color: @mauve;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border: 1px solid @mauve;
}

#window {
    color: @mauve;
    border-radius: 1rem;
    border: 1px solid @mauve;
}

window#waybar.konsole {
    background-color: #111111;
    color: #ffffff;
}

window#waybar.google-chrome-stable {
    background-color: #eeeeee;
    color: #000000;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}
