@import "mocha.css";

* {
    font-family: UbuntuMono Nerd Font;
    font-size: 15px;
    min-height: 0;
}

#waybar {
    background-color: shade(@base, 0.9);
    background-color: alpha(@base, 0.7);
    border: 2px solid alpha(@crust, 1);
    border-bottom: 2px solid alpha(@sapphire, 1);
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 0.7rem;
    border: 1.5px solid @sapphire;
}

#workspaces button {
    color: @sapphire;
    border-radius: 1rem;
    padding: 0.4rem;
    padding-right: 0.8rem;
}

#workspaces button.active {
    color: @red;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @peach;
    border-radius: 0.5rem;
    border: 1px solid alpha(@peach, 1);
}

#custom-notification,
#custom-player_control,
#language,
#window,
#tray,
#custom-weather,
#clock,
#bluetooth,
#battery,
#pulseaudio,
#network {
    color: @red;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @red;
}

#window {
    color: @sapphire;
    border-radius: 1rem;
    border: 1.5px solid @sapphire;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
    border: none;
}

#clock {
    color: @blue;
    margin-right: 1rem;
    border: 1.5px solid @blue;
}

#language {
    color: @blue;
    border: 1.5px solid @blue;
}

#battery {
    color: @green;
    border: 1.5px solid @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#tray {
    color: @maroon;
    border: 1.5px solid @maroon;
}

#custom-weather {
    color: @blue;
    border: 1.5px solid @blue;
}

#bluetooth {
    color: @blue;
    border: 1.5px solid @blue;
}

#custom-notification,
#pulseaudio {
    color: @yellow;
    border: 1.5px solid @yellow;
}

#custom-notification:hover,
#language:hover,
#pulseaudio:hover,
#custom-player_control:hover,
#clock:hover,
#bluetooth:hover {
    border-radius: 1rem;
    border: 1.5px solid @red;
}

#custom-dolphin:hover,
#custom-toggle_float:hover,
#custom-player_next:hover,
#idle_inhibitor:hover {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1.5px solid @red;
}

#custom-chrome:hover,
#custom-player_previous:hover,
#custom-updates:hover {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1.5px solid @red;
}

#custom-konsole:hover,
#custom-xournalapp:hover,
#custom-spotify:hover,
#custom-thunderbird:hover,
#custom-move_toworkspace_left:hover,
#custom-move_toworkspace_right:hover,
#custom-close:hover,
#custom-cyclenext:hover,
#custom-fullscreen:hover,
#custom-player_advance:hover,
#custom-power:hover,
#backlight:hover,
#custom-player_rewind:hover,
#custom-lock:hover {
    border: 1.5px solid @red;
}

#custom-player_control {
    color: @green;
    border: 1.5px solid @green;
}

#custom-dolphin,
#custom-toggle_float,
#idle_inhibitor,
#custom-player_next {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1.5px solid @green;
    border-left: none;
}

#custom-chrome,
#custom-close,
#custom-updates,
#custom-player_previous {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1.5px solid @green;
    border-right: none;
}

#custom-konsole,
#custom-xournalapp,
#custom-spotify,
#custom-thunderbird,
#custom-move_toworkspace_left,
#custom-move_toworkspace_right,
#custom-close,
#custom-cyclenext,
#custom-fullscreen,
#backlight,
#custom-lock,
#custom-power,
#custom-player_advance,
#custom-player_rewind {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border: 1.5px solid @green;
    border-left: none;
    border-right: none;
}

#custom-cyclenext {
    border: 1.5px solid @sapphire;
    border-left: none;
}

#custom-fullscreen {
    border: 1.5px solid @sapphire;
    border-left: none;
    border-right: none;
}

#custom-cyclenext {
    border: 1.5px solid @sapphire;
    border-left: none;
    border-right: none;
}

#custom-move_toworkspace_left {
    border: 1.5px solid @sapphire;
    border-left: none;
    border-right: none;
}

#custom-move_toworkspace_right {
    border: 1.5px solid @sapphire;
    border-left: none;
    border-right: none;
}

#custom-close {
    border: 1.5px solid @sapphire;
    border-right: none;
}

#custom-close {
    color: @red;
}

#custom-fullscreen {
    color: @yellow;
}

#custom-cyclenext {
    color: @yellow;
}

#custom-move_toworkspace_left {
    color: @blue;
}

#custom-move_toworkspace_right {
    color: @blue;
}

#custom-toggle_float {
    border: 1.5px solid @sapphire;
    border-left: none;
}

