@import "mocha.css";

* {
    font-family: UbuntuMono Nerd Font;
    font-size: 15px;
    min-height: 0;
}

#waybar {
    /* background: transparent; */
    /* color: @text; */
    /* margin: 5px 5px; */
    background-color: shade(@base, 0.9);
    background-color: alpha(@base, 0.7);
    border: 2px solid alpha(@crust, 1);
    border-bottom: 2px solid alpha(@sapphire, 1);
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 0.7rem;
    border: 1.5px solid @sapphire;
}

#workspaces button {
    color: @sapphire;
    border-radius: 1rem;
    padding: 0.4rem;
    padding-right: 0.8rem;
}

#workspaces button.active {
    color: @red;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @peach;
    border-radius: 0.5rem;
    border: 1px solid alpha(@peach, 1);
}

#window,
/* #custom-chrome, */
/* #custom-music, */
#tray,
#custom-updates,
#custom-weather,
#clock,
#bluetooth,
#battery,
#pulseaudio,

#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#network {
    color: @red;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @red;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
    border-radius: 1rem;
    border: 1.5px solid @blue;
}

#language {
    color: @blue;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @blue;
}

#battery {
    color: @green;
    border: 1.5px solid @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    /* border-radius: 1rem; */
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1.5px solid @green;
    border-left: 0.75px solid @green;
}

#battery {
    border-radius: 1rem;
}

#pulseaudio {
    color: @yellow;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @yellow;
}

#language:hover, #pulseaudio:hover, #custom-player_control:hover, #custom-updates:hover, #clock:hover, #bluetooth:hover {
    border-radius: 1rem;
    border: 1.5px solid @red;
}

#custom-player_next:hover, #custom-power:hover, #backlight:hover {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1.5px solid @red;
}

#custom-player_previous:hover, #custom-lock:hover, #idle_inhibitor:hover {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1.5px solid @red;
}

#custom-player_advance:hover, #custom-player_rewind:hover {
    border: 1.5px solid @red;
}

#custom-music {
    color: @yellow;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @yellow;
}

#custom-player_control {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @green;
}

#custom-player_next {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    /* border-radius: 1rem; */
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1.5px solid @green;
    border-left: 0.75px solid @green;
}

#custom-player_previous {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1.5px solid @green;
    border-right: 0.75px solid @green;
}

#custom-player_advance {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border: 1.5px solid @green;
    border-left: 0.75px solid @green;
}

#custom-player_rewind {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border: 1.5px solid @green;
    border-left: 0.75px solid @green;
}

#custom-lock {
    color: @yellow;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1.5px solid @yellow;
    border-right: 0.75px solid @yellow;
}

#custom-power {
    color: @yellow;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border: 1.5px solid @yellow;
    border-left: 0.75px solid @yellow;
}

/* #custom-chrome { */
/*   color: @mauve; */
/*   border-radius: 1rem; */
/* } */

#tray {
    color: @maroon;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @maroon;
}

#custom-weather {
    color: @blue;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @blue;
}

#custom-updates {
    color: @mauve;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @mauve;
}

#bluetooth {
    color: @blue;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    color: @blue;
    border: 1.5px solid @blue;
}

#idle_inhibitor {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1.5px solid @green;
    border-right: 0.75px solid @green;
}

#cpu {
    color: @green;
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
    border-radius: 1rem;
    border: 1.5px solid @green;
}

#window {
    color: @sapphire;
    border-radius: 1rem;
    border: 1.5px solid @sapphire;
}

window#waybar.konsole {
    background-color: #111111;
    color: #ffffff;
}

window#waybar.google-chrome-stable {
    background-color: #eeeeee;
    color: #000000;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
    border: none;
}
